[phases.setup]
nixPkgs = [
  "chromium",
  "nss",
  "freetype",
  "harfbuzz",
  "ca-certificates",
  "fontconfig",
  "libX11",
  "libXcomposite",
  "libXdamage",
  "libXext",
  "libXfixes",
  "libXrandr",
  "libxcb",
  "libxkbcommon",
  "libdrm",
  "mesa",
  "expat",
  "alsa-lib",
  "at-spi2-atk",
  "at-spi2-core",
  "cups",
  "dbus",
  "glib",
  "gtk3",
  "pango",
  "nspr"
]

[phases.install]
cmds = ["npm ci"]

[start]
cmd = "npm start"
